#for env app config

<!-- app config -->

NODE_ENV=production
APP_PORT=3000
APP_NAME="Boilernest Role"
API_PREFIX=api
API_VERSION=9.1.0
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
SENTRY_DSN_PROD=
SENTRY_DSN_DEV=

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=
